<header id="head1">
  Best Books!
  <div class="navbar">
    <div class="dropdown">
      <img id="hamburger" src="/styles/menu.png">
        <i class="fa fa-caret-down"></i>
      <div class="dropdown-content">
        <a href="/" id="link1">View Saved Books</a>
        <a href="/search" id="link2">Search for Books</a>
      </div>
    </div> 
  </div>
</header>