<header id="head1">
  Best Books!
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn"><img id=hamburger src="/styles/menu.png">
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#" id=link1>Link 1</a>
        <a href="#" id=link1>Link 2</a>
        <a href="#" id=link1>Link 3</a>
      </div>
    </div> 
  </div>
</header>